// SCSS Imports
@import '../../Styles/variables.scss';

.action-button {
    @extend .button-style;
    background-color: red;
    border-color: $secondary-color;
    color: $secondary-color;
    font-weight: inherit;
    margin-bottom: 5vh;
};