// Color Scheme
$primary-color: rgb(106,95,105);
$secondary-color: rgb(32,55,72);
$tertiary-color: rgb(241,241,241);
$accent-color: rgb(181,213,85);

$secondary-transparent: rgba(74, 126, 165, 0.5);
$primary-transparent: rgba(241,241,241, 0.2);
$post-list-background: rgba(256, 256, 256, 0.3);
$accent-transparent: rgba(181, 213, 85, 0.7);

.button-style {
    padding: 5px 10px;
    border: 1.5px solid;
    border-radius: 50px;
}


