// SCSS Imports
@import '../../Styles/variables.scss';

.entry-form-container {
    width: 100%;
    padding: 4vh;
    background-color: $post-list-background;
    border: 1px solid $accent-color;
}

.entry-form-title {
    color: $accent-color;
    margin-bottom: 3vh;
}

.post-input {
    display: block;
    width: 100%;
    margin-bottom: 3vh;
}

.image-option {
    color: $accent-color;
}

.image-select-button {
    margin-bottom: 5vh;
}

.spinner-container {
    display: block;
}

.progress-tracker {
    color: $accent-color;
}

.post-submit-button {
    @extend .button-style;
    background-color: $accent-color;
    // border: 1px solid $secondary-color;
    color: $secondary-color
}