// SCSS imports
@import 'src/Styles/variables.scss';

.user-agreement-form {
    margin-top: .5vh;
    margin-bottom: 1vh;
    padding: 3vh;
    background-color: white;
}

.agreement-button {
    @extend .button-style;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    color: $accent-color;
    display: inline-block;
}

.user-agreement {
    height: 30vh;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
}

.agreement-form-text {
    margin-top: 2vh;
    font-size: small;
}

.agreement-input {
    margin-top: 1vh;
    width: 50%;
}

