// SCSS Imports
@import '../../Styles/variables.scss';

.comment-input {
    width: 100%;
    margin-bottom: 2vh;
}

.comment-submit-button {
    @extend .button-style;
    display: block;
    background-color: $secondary-color;
    color: $accent-color;
    border-color: $primary-color;
}