// SCSS imports
@import 'src/Styles/variables.scss';

.dropdown-toggle.btn.btn-primary {
    background-color: $secondary-color;
    border: none;
    &::after {
        display: none;
    }
    &:focus {
        outline: none;
    }
}

.dropdown-icon {
    width: 40px;
}