// SCSS imports
@import 'src/Styles/variables.scss';

.nav-links {
    margin-bottom: 20vh;
}

.signout-button {
    background: none;
    border: 1px solid $accent-color;
    color: $accent-color;
    font-weight: inherit;
}

.dropdown-toggle.btn.btn-primary {
    background: none;
    border: none;
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
    &:focus {
        outline: none;
    }
}

.dropdown-icon {
    width: 40px;
}

.dropdown-menu.show {
    background-color: $primary-transparent;
    padding-left: 20px;
}

li {
    color: $accent-color;
    font-weight: bold;
}

hr {
    width: 50%;
}
