// SCSS imports
@import 'src/Styles/variables.scss';

// .view-body {
//     height: 130vh;
// }

.collection-title-container {
    color: $accent-color;
}

.collection-title {
    font-weight: bold;
}

.post {
    background-color: white;
}