// SCSS imports
@import 'src/Styles/variables.scss';

.posts-container {
    height: 50vh;
    overflow-y: scroll;
    margin-bottom: 5vh;
    // padding-top: 5vh;
    background-color: rgba(256, 256, 256, 0.3);
    border: 1px solid $accent-color;
}

.collection-title-container {
    // width: 100%;
    color: $accent-color;
}

.collection-title {
    font-weight: bold;
}

.post {
    background-color: white;
}