// SCSS imports
@import 'src/Styles/variables.scss';

.event-post {
    margin-bottom: 1vh;
    padding: 3rem;
    background-color: white;
    border: 1px solid $accent-color;
}

.event-title {
    border-bottom: 1px solid $tertiary-color;
}

.event-info {
    display: inline;
    margin-right: 2rem;
    padding-bottom: 2vh;
    border-bottom: 1px solid $tertiary-color;
}

.event-details {
    margin-top: 3vh;
}