// SCSS imports
@import 'src/Styles/variables.scss';

.footer {
    height: 20vh;
    padding-top: 10vh;
    background-color: $secondary-color;
    border-top: 1px solid $accent-color;
    color: $accent-color;
}