// SCSS imports
@import 'src/Styles/variables.scss';

.view-body {
    height: 100vh;
    background-color: $secondary-color;
}

.view-title {
    margin-bottom: 5vh;
    color: $accent-color;
    font-weight: bold;
    font-size: 3rem;
}

.collection-title {
    margin-bottom: 5vh;
}

.news-container {
    padding: 5vh;
}

.news-title {
    margin: 7vh auto;
    font-weight: bold;
    color: $accent-color;
}

.auth-form {
    background-color: white;
}

.auth-title {
    width: 100%;
    margin-bottom: 4vh;
    color: $secondary-color;
}

.auth-input-label {
    display: block;
}

.auth-input {
    display: block;
    width: 100%;
    margin-bottom: 1vh;
}

.auth-submit {
    @extend .button-style;
    display: block;
    margin-top: 2vh;
    background-color: $accent-color;
    border: 2px solid $secondary-color;
    color: $secondary-color
}

