// SCSS imports
@import 'src/Styles/variables.scss';

.view-body {
    height: 100vh;
    background-color: $secondary-color;
}

.auth-title {
    width: 100%;
}

.auth-input-label {
    display: block;
}

.auth-input {
    display: block;
    width: 100%;
}

.auth-submit {
    display: block
}