// SCSS Imports
@import '../../Styles/variables.scss';

.delete-form-container {
    background-color: white;
}

.delete-form-color {
    height: 100%;
    width: 100%;
    padding: 3vh;
    background-color: $secondary-transparent;
}

.password-input {
    display: block;
    margin-bottom: 2vh;
}

.account-delete-button {
    @extend .button-style;
    background-color: red;
}