// SCSS Imports
@import '../../Styles/variables.scss';

.post {
    margin-top: 3vh;
}

.post-image-container {

}

.post-image {
    height: 30px;
}

.image-modal {
    margin-left: 3px;
}

.large-image {
    height: 30vw;
    width: auto;
}
