// SCSS Imports
@import '../../Styles/variables.scss';

.post {
    margin-top: 3vh;
}

.post-image-container {

}

.post-image {
    height: 30px;
}

.image-modal {
    width: 90%;
}

.image-close-button {
    background: none;
}

p:hover {
    cursor: pointer;
    background: none;
}

.large-image {
    height: 50vh;
    width: auto;
}
