// SCSS Imports
@import '../../Styles/variables.scss';

.post {
    margin-top: 3vh;
}

.post-body-container {
    background-color: white;
    border: 1px solid $secondary-color;
    padding: 2vh 0 3vh 1vh ;

    &:hover {
        background-color: white;
    }
}

.post-image-container {
    margin-bottom: 2vh;
}

.post-image {
    height: 30px;
}

.image-modal {
    width: 90%;
}

.image-container

.image-close-button {
    background: none;
}

p:hover {
    cursor: pointer;
    background: none;
}

.large-image {
    height: 50vh;
    width: auto;
}
