// SCSS imports
@import 'src/Styles/variables.scss';

.landing-view {
    // height: 100vh;
    width: 100vw;
    // background-color: $secondary-color;
}

.top {
    height: 80vh;
    background-image: url('../../Static/main-bg.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-bottom: 1px solid $accent-color;
}

.middle {
    // height: 80vh;
    background-color: $secondary-color;
}

.auth-header {
    position: fixed;
    z-index: 10;
    width: 90%;
}

.auth-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

.option-button {
    padding: 5px 30px;
    border: 1.5px solid $primary-color;
    border-radius: 50px;
    background-color: $accent-color;
    &:first-child {
        margin-right: 30px;
    }
    &:focus {
        outline: none;
    }
}

.auth-form {
    padding: 40px;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $accent-color;
}

.welcome-text {
    // height: 20vh;
    width: 400px;
    display: inline-block;
    padding: 30px;
    margin: 20vh auto auto 10vw;
    background-color: $welcome-text-bg;
    border: 2px outset $accent-color;
    color: $tertiary-color;
}


@media(max-width: 770px) {
    .welcome-text {
        display: inline-block;
        width: 100vw;
        margin: 20vh auto auto auto
    }

    .feature {
        height: 40vh;

    }
}
