// SCSS imports
@import 'src/Styles/variables.scss';

.password-form-container {
    height: 4s0vh;
    padding: 3rem;
    background-color: white;
    border-bottom: 1px solid $tertiary-color;
}

.reset-input {
    display: block;
    margin-bottom: 1vh;
    border: 1px solid $tertiary-color;
}

.reset-input-button {
    @extend .button-style;
    margin-top: 3vh;
    background-color: red;
}